#contenedor-principal {
  flex-direction: column;
}

#contenedor-filtros summary {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 0.5rem;
  font-weight: 100;
  padding-bottom: .3rem;
  padding-top: .3rem;
  background-color: #006699;
  color: var(--md-primary-bg-color);
}

#contenedor-filtros summary:before {
  content: unset !important;
}

#filtros {
  max-height: 300px;
  overflow-y: auto;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

#lista-procedimientos {
  margin-top: 1rem;
}

.procedimiento {
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Ajustes visuales para buscador */

#buscador-superior {
  justify-content: center;
  margin-bottom: 1rem;
}

#buscador-superior input[type="text"] {
  width: 100%;
  padding: 6px;
  font-size: 1.1em;
  border: 1px solid #aaa;
  border-radius: 4px; 
}

.contador-resultados {
  margin-bottom: 0.2rem;
  padding: 0.5em 0;
  font-weight: bold;
}

.md-typeset {
  font-size: .7rem !important;
}
  
.md-header__button.md-logo img {
  height: 62px !important; /* o el tamaño que quieras */
  width: 56px;
  filter: brightness(0) invert(1);
}

:root  > * {
  --md-primary-fg-color: #006699;
  --md-footer-bg-color: #006699;
  --md-accent-fg-color: #b8b8b8;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}

.mermaid {
  display: block;
  margin: 0 auto;
  text-align: center;
  transform: scale(0.85);
  transform-origin: top center;
}

